.btn{
    padding: 12px 24px;
    border-radius: 32px;
    cursor: pointer;
    &:hover{
        opacity: 0.8;
    }
}

.btn-white{
    background-color: $white;
    color: $black;
}
.btn-black{
    background-color: $black;
    color: $white;
}